div.content {
    width: 700px;
    margin: 0 auto;
}

h3 {
    text-align: center;
}

div#button-area {
    width: 300px;
    margin: 0 25px;
    float: right;
}

button {
    width: 100%;
    margin-bottom: 15px;
}

@media only screen and (max-width: 700px) {
    div.content {
        width: 100%;
        margin: 5px;
    }
    div#button-area {
        margin: 0 auto;
        float: none;
    }
}