div.content {
    width: 700px;
    margin: 0 auto;
}

h3 {
    text-align: center;
}

div#array-elements-bar {
    width: 300px;
    height: 300px;
    border: solid 1px rgba(54, 162, 235, 1);
    margin: 0 25px;
    float: left;
    position: relative;
}

div.element-bar {
    width: 30px;
    position: absolute;
    bottom: 0px;
    border: solid 1px;
    background-color: rgba(54, 162, 235, 0.2);
    border-color: rgba(54, 162, 235, 1);
}

div#button-area {
    width: 300px;
    margin: 0 25px;
    float: right;
}

button {
    width: 100%;
    margin-bottom: 15px;
}

/*
#element-1 {
    background-color: rgba(255, 206, 86, 0.2);
    border-color: rgba(255, 206, 86, 1);
}
*/